.exp-me-img-detail {
	height: 20%;
	width: 50%;
	border-radius: 50%;
  margin-top: 15%;
}



.exp-me-info {
  text-align: justify;
  margin-left:-7%;
  margin-top: 6%;
}

span{
  font-size: 30px;
  font-weight:bolder;
  font-family: sans-serif;
};
